.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100;
    line-height: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.display-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.inner-inputs-container {
    display: flex;
    flex-direction: row;
}

.errorMessage {
    color: red;
}