.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
    flex-direction: column;
}

.title {
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.preface {
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    font-style: italic;
    font-size: smaller;
    gap: 0px;
    color: rgb(7, 27, 27);
    font-weight: 600;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100;
    line-height: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.display-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.inner-inputs-container {
    display: flex;
    flex-direction: row;
}

.errorMessage {
    color: red;
}

.amount-owe-title {
    color: green;
}